@font-face{
	font-family:'ma_police';
	src:url(OpenSans-Regular.ttf);
	}

:root{
  	--picto-margin-left:20%;
  	--picto-padding-top: 5px;
  	--picto-padding-bottom: 10px;
}

/*STRUCTURE GENERALE DU CV*/

body{
	display: grid;
	grid-template-columns:1fr 3fr; 
	grid-template-rows: 2fr;
	font-family: ma_police;
}

header{
	grid-column: 2;
	grid-row: 1;
	display: flex;
}

#illustration {
	grid-column: 1;
	grid-row:1;
}

#info_perso{
	grid-column: 1;
	grid-row : 2 / span 3;
}

#illustration, #info_perso{
	background-color: #FECA07;
	min-width: 220px;
	overflow-wrap: break-word;
	margin-top: 0px;
	padding-bottom: 1em;
}

#detail_CV{
	grid-column: 2;
	grid-row: 2;
	margin-left: 15px;
	margin-top: 5px;
	padding-top: 0px;
}

/*MISE EN FORME HEADER */

h1{
	font-size: 3em;
	line-height: 1em;
	font-weight: lighter;
	color: black;
	padding: 0px 15px 0px 15px;
	margin-bottom: 0px;
	text-align: top;
}

h1>em{
	font-weight: bold;
	color: #FECA07;
	padding-right: 10px;
}

h1>span{
	font-size: x-large;
	font-weight: normal;
	color: black;
	margin-left: 2em;
}


/*MISE EN FORME DETAIL CV*/


.fa-graduation-cap,.fa-briefcase,.fa-pencil-alt, .fa-circle{ /*picto des parties du CV*/
	color: #FECA07;
	padding-right: 1em;
}

h2{
	color:#404040;
	margin: 10px 5px 2px 0px;
	padding-bottom: 6px;
	font-size: x-large;
	font-weight: bold;
	border-bottom: solid 2px #FECA07;
}

table{
	margin-bottom: 0.5em;
}
td{
  vertical-align: top;
  padding-right:10px;
}

.fa-circle{ /*point pour chaque nouvel enreg.*/
	font-size: xx-small;
	padding-right: 1em;
}
.nouvel_enreg{
  color: black;
  font-size: 0.8em;
  font-style: italic;
  width: 150px;
  padding-top: 3px;
}

.nouvel_enreg>em{
  font-weight:bold;
}

.structure{
	font-size: 1em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
  	color: black;
}

.fonction{
	font-size: 0.8em;
	font-weight: lighter;
	font-style: italic;
  	color: grey;
  	line-height: 1em;
}

.detail{
	font-size: 0.8em;
	padding-top: 3px;
	padding-bottom: 5px;
  	color: black;
  	
}

#recommandation>div{
	display: flex;
  	margin-top: 5px;
  	margin-left: 8%;
	font-size: 0.9em;  
}
#recommandation>div>em{
  font-style:italic;
}

div{
	display: flex;
}

/*MISE EN FORME SECTION INFORMATION PERSO*/

h3{
	background-color: #404040;
	color:#FECA07;
	padding: 5px 2px 5px 2px;
	margin-top: 0px;
	text-align: center;
	vertical-align: center;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.fa-at, .fa-phone-alt, .fa-map-marker-alt{
	color: #404040;
	padding: 2px 5px 5px 5px;
}

ul, p{
	padding-left: 3%;
	padding-right: 10px;
	padding-bottom: 3px;
	font-size: 0.9em;
}

ul{
	list-style-type: none;
}


#info_perso>div{ /*comment faire en sorte que le bloc comprenant les picto soit automatiquement centré sur la colonne de la grille*/
  margin-left:var(--picto-margin-left);
  padding-top: var(--picto-padding-top);
  padding-bottom:var(--picto-padding-bottom);
}

.picto{
  padding-right:10%;
}

#photo_ID{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: auto;
	margin-bottom: 5px;
  	border:3px solid #DAAF12;
	border-radius :50%;
  	width: 120px;
 	height: 120px;
 	background: url("evelyne_bastin.jpg") no-repeat top left;
}


@media screen and (max-width: 1000px){
  body{
	 display: flex;
     flex-direction: column;
	width: 100%;
	}
  header{
  	padding-bottom: 10px;
  }

  #illustration{
  	display: none;
  }

  #info_perso{
  	max-width: 100%;
  	padding-bottom: 10px;
  }

  .nouvel_enreg{
    width: 100px;
  }
 