/*@font-face{}*/

:root{
  --picto-display:flex;
  --picto-margin-left:15%;
  --picto-padding-top:5px;
  --picto-padding-bottom:10px;
  --struct-color:red;
  --fct-color:blue;
  --detail-color:grey;
}
body{
	display: grid;
	grid-template-columns: 1fr 3fr; 
	grid-template-rows: 2;
	font-family: arial;
}

header{
	grid-column: 2;
	grid-row: 1;
}

#info_perso{
	background-color: #FECA07;
	grid-column: 1;
	grid-row : 2 / span 3; 
	min-width: 200px;
	overflow-wrap: break-word;
	margin-top: 0px;
}
#illustration{
	background-color: #FECA07;
	grid-column: 1;
	grid-row:1;
}
main{
	grid-column: 2;
	grid-row: 2;
	margin-left: 15px;
	margin-top: 15px;
}

/* dans l'entete */

h1{
	font-size: 3em;
	font-weight: lighter;
	color: black;
	padding-left: 10px;
	margin-bottom: 10px;
}

h1>em{
	font-weight: bold;
	color: #FECA07;
	padding-right: 10px;
}

h1>span{
	font-size: x-large;
	font-weight: normal;
	color: black;
	padding-top: 3px;
	margin-left: 1em;
}


/* dans le main*/

.fa-graduation-cap,.fa-briefcase,.fa-pencil-alt, .fa-circle{
	color: #FECA07;
	padding-right: 1em;
}

h2{ /*titre de partie du CV relatif au parcours*/
	color:black;
	margin: 15px 5px 2px 0px;
	padding-bottom: 6px;
	font-size: normal;
	font-weight: bold;
	border-bottom: solid 2px #FECA07;
}
table{
	margin-bottom: 0.5em;
}
td{
  vertical-align: top;
  padding-right:10px;
}
.fa-circle{
	font-size: xx-small;
	padding-right: 1em;
}
.nouvel_enreg{ /*comment faire pour que le retour à la ligne soit en retrait par rapport à l'icone(rond)*/
  color: black;
  font-size: 0.8em;
  font-style: italic;
  width: 150px;
}
.nouvel_enreg>em{
  font-weight:bold;
}

/*TABLEAU FORMATION - PERMIERE APPROCHE - UN TABLEAU PAR ENREG - mise en forme en fonction de la POSITION DE LA CELLULE et en utilisant des VARIABLES 

Mise en forme suivant la position est aparu COMPLIQUE :
    - comment mettre dans une meme forme toute les cellules de la deuxième colonne avec récurrence de mise en forme toute les 3 lignes (et non sur la base de paire / impaire et en évitant de devoir ajouter des balises pour dire "heu! non pas celle-la mais la prochaine")
    - difficulté à définir la mise en forme par cellule, notamment quand la première est une fusion de plusieurs lignes
    - démarche adoptée : mise en forme par ligne + class pour pouvoir faire une mise en forme spécifique de la cellule 1 ligne 1 

Utilisation des variables css : pas trop d'intérêt ici compte tenu de la simplicité des contenus et le fait qu'il y ai "qu'une seule mise en forme" (pas plusieurs page avec les memes types de contenus mais des chartes graphiques différentes). Ici, l'utilisation des class est largement suffisant, voire plus simple et complet (cf. css pour le tableau expérience pro)*/


tr:nth-child(n+1){
  color:var(--struct-color);
}

tr:nth-child(n+2){
	color: var(--fct-color);
}

tr:nth-child(n+3){
  color: var(--detail-color)
}



/*TABLEAU EXPERIENCE PRO - DEUXIEME APPROCHE - UN SEUL TABLEAU ET UTILISATION DE CLASS POUR LA MISE EN FORME DES CELLULES DU TABLEAU */

.structure{
	font-size: 1em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
  color: black;
}

.fonction{
	font-size: 0.9em;
	font-weight: lighter;
	font-style: italic;
	margin: 0px 0px 2px 10px;
	padding: 0px 0px 0px 0px;
  color: green;
}

.detail{
	font-size: normal;
	margin: 0px 0px 2px 0px;
	padding: 0px 0px 0px 0px;
  color: gray;
  font-size: small;
}
/* APPROCHE 3 pour la section RECOMMANDATION. Plus de tableau mais Flexbox sur la base de balise html type box (div) */

#recommandation>div{
	display: flex;
  margin-top: 5px;
  margin-left: 8%;
	font-size: 0.9em;  
}
#recommandation>div>em{
  font-style:italic;
}


/*dans la section info_perso*/

#photo_ID{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: auto;
	margin-bottom: 5px;
  	border:3px solid #DAAF12;
	border-radius :50%;
  	width: 120px;
 	height: 120px;
 	background: url("evelyne_bastin.jpg") no-repeat top left;
}

h3{
	background-color: #404040;
	color:#FECA07;
	padding: 5px 2px 5px 2px;
	margin-top: 0px;
	text-align: center;
	vertical-align: center;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
}

.fa-at, .fa-phone-alt, .fa-map-marker-alt{
	color: #404040;
	padding: 2px 5px 5px 5px;
}

ul{
	list-style-type: none;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 5px;
	padding-bottom: 3px;
	font-size: 0.9em;
}
p{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0.9em;
}

#info_perso>div{
  display: var(--picto-display);
  padding-left:var(--picto-margin-left);
  padding-top: var(--picto-padding-top);
  padding-bottom:var(--picto-padding-bottom);
  }
.picto{
  margin-right:15%;
}

@media screen and (max-width: 1000px){
   body{
	 display: flex;
     flex-direction: column;
		width: 100%;
	}
  #illustration{
  	display: none;
  }
  .nouvel_enreg{
    width: 100px;
  }
  
  #recommandation>div{
  	flex-direction: column;
  }
  }